* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper__body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popup-1,
.popup-2 {
    width: 500px;
    height: 500px;
    border: 3px solid olive;
    display: none;
    text-align: center;
}

.popup-1__close,
.popup-2__close {
    position: absolute;
    left: 61.5%;
    color: red;
    font-size: 1.5rem;
    cursor: pointer;
}

.popup-open {
    margin-bottom: 10%;
    display: flex;
}

.popup-1-open,
.popup-2-open {
    width: 100px;
    height: 30px;
    cursor: pointer;
    background-color: #bbb;
    text-align: center;
    margin: 10px;
    font-size: 1.4rem;
    font-style: italic;
}

.popup-1__text,
.popup-2__text {
    font-size: 2rem;
    color: black;
    font-style: italic;
}
.popup-1__about,
.popup-2__about {
    font-size: 1.3rem;
    color: darkgrey;
    margin-top: 20px;
    padding: 10px;
}